<div class="hr-constructor">
    <div class="hr-constructor__container">
        <div class="hr-constructor-options">
            <div class="hr-constructor-option hr-constructor-option__active">
                Смежные должности
            </div>
            <div [routerLink]="['/private/hr-constructor']" class="hr-constructor-option">
                Программы
            </div>
            <div class="hr-constructor-option">
                Наставничество
            </div>
        </div>
        <div class="courses-filters">
            <div class="filters">
                <div class="filters__fields-name">
                    Сотрудник:
                </div>
                <div class="filters__field">
                    Выбор сотрудника: <img src="../../../../assets/arrow_stroke.svg" alt="">
                </div>
            </div>
            <div class="filters">
                <div class="filters__fields-name">
                    Должность:
                </div>
                <div class="filters__field">
                    Главный разработчик <img src="../../../../assets/arrow_stroke.svg" alt="">
                </div>
            </div>

        </div>
        <div class="related-positions-percentage">
            <div class="related-positions-percentage-item">
                Смежная должность: <span class="related-positions-value">Маркетолог</span>
            </div>
            <div class="related-positions-percentage-item">
               Процент сходства: <span class="related-positions-value">80%</span>
            </div>
        </div>
        <div class="profile-item__additional">
            <div class="profile-item__docs">
                <div class="about-work__title">
                    Трудовые обязанности:
                </div>
                <textarea name="" id="" placeholder="Трудиться"></textarea>
            </div>
            <div class="profile-item__docs">
                <div class="about-work__title">
                    Трудовые обязанности:
                </div>
                <textarea name="" id="" placeholder="Трудиться"></textarea>
            </div>
            <div class="profile-item__about-you">
                <div class="about-work-head">
                    <div class="about-work__title">
                        Необходимые навыки:
                    </div>
                    
                </div>
                <div class="profile-item__skills">
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
