<div class="hr-constructor">
    <div class="hr-constructor__container">
        <div class="hr-constructor-options">
            <div [routerLink]="['/private/hr-constructor-related-positions']" class="hr-constructor-option">
                Смежные должности
            </div>
            <div class="hr-constructor-option__active">
                Программы
            </div>
            <div class="hr-constructor-option">
                Наставничество
            </div>
        </div>
        <div class="courses-filters">
            <div class="filters">
                <div class="filters__fields-name">
                    Должность:
                </div>
                <div class="filters__field">
                    Главный разработчик <img src="../../../../assets/arrow_stroke.svg" alt="">
                </div>
            </div>
            <div class="filters">
                <div class="filters__fields-name">
                    Резюме:
                </div>
                <div class="filters__field">
                    Загрузить <img src="../../../../assets/rezume_upload.svg" alt="">
                </div>
            </div>
        </div>
        <div class="profile-item__additional">
            <div class="profile-item__docs">
                <div class="about-work__title">
                    Трудовые обязанности:
                </div>
                <textarea name="" id="" placeholder="Трудиться"></textarea>
            </div>
            <div class="profile-item__about-you">
                <div class="about-work-head">
                    <div class="about-work__title">
                        Необходимые навыки:
                    </div>
                    <img src="../../../../assets/tabler_edit.svg" alt="">
                </div>
                <div class="profile-item__skills">
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                </div>
            </div>
        </div>
        <div class="title">
            Обязательные модули:
        </div>
        <div class="courses-filters">
            <div class="filters">
                <div class="filters__fields-name">
                    Этапы:
                </div>
                <mat-form-field>
                    <mat-label>Выберите этап</mat-label>
                    <mat-select>
                        <div  *ngFor="let stage of stages">
                            <mat-option [value]="stage.value">{{stage.viewValue}}</mat-option>
                        </div>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>
        <div class="skills">
            <div class="skill-card">
                <div class="skill-card-head">
                    <div class="skill-card__title">
                        Документооборот
                    </div>
                    <div>
                        <span class="skill-card-dateinfo">Тест до: </span>
                        <span class="skill-card-date">07.11.2023</span>
                    </div>
                </div>
                <div class="skill-card-footer">
                    <img src="../../../../assets/learn-notsuitable.svg" alt="">
                </div>
            </div>
            <div class="skill-card">
                <div class="skill-card-head">
                    <div class="skill-card__title">
                        Документооборот
                    </div>
                    <div>
                        <span class="skill-card-dateinfo">Тест до: </span>
                        <span class="skill-card-date">07.11.2023</span>
                    </div>
                </div>
                <div class="skill-card-footer">
                    <img src="../../../../assets/learn-notsuitable.svg" alt="">
                </div>
            </div>
            <div class="skill-card">
                <div class="skill-card-head">
                    <div class="skill-card__title">
                        Документооборот
                    </div>
                    <div>
                        <span class="skill-card-dateinfo">Тест до: </span>
                        <span class="skill-card-date">07.11.2023</span>
                    </div>
                </div>
                <div class="skill-card-footer">
                    <img src="../../../../assets/learn-notsuitable.svg" alt="">
                </div>
            </div>
            <div class="skill-card">
                <div class="skill-card-head">
                    <div class="skill-card__title">
                        Документооборот
                    </div>
                    <div>
                        <span class="skill-card-dateinfo">Тест до: </span>
                        <span class="skill-card-date">07.11.2023</span>
                    </div>
                </div>
                <div class="skill-card-footer">
                    <img src="../../../../assets/learn-notsuitable.svg" alt="">
                </div>
            </div>

            <img src="../../../../assets/constructor-add-module.svg" alt="">
        </div>
        <div class="courses-filters">
            <div class="filters">
                <div class="filters__fields-name">
                    Документы:
                </div>
                <div class="filters__field">
                    Загрузить <img src="../../../../assets/rezume_upload.svg" alt="">
                </div>
            </div>
        </div>
        <div class="title">
            Рекомендации:
        </div>
        <div class="skills">
            <div class="skill-card">
                <div class="skill-card-head">
                    <div class="skill-card__title">
                        Документооборот
                    </div>
                    <div>
                        <span class="skill-card-dateinfo">Тест до: </span>
                        <span class="skill-card-date">07.11.2023</span>
                    </div>
                </div>
                <div class="skill-card-footer">
                    <img src="../../../../assets/learn-notsuitable.svg" alt="">
                </div>
            </div>
            <div class="skill-card">
                <div class="skill-card-head">
                    <div class="skill-card__title">
                        Документооборот
                    </div>
                    <div>
                        <span class="skill-card-dateinfo">Тест до: </span>
                        <span class="skill-card-date">07.11.2023</span>
                    </div>
                </div>
                <div class="skill-card-footer">
                    <img src="../../../../assets/learn-notsuitable.svg" alt="">
                </div>
            </div>
            <div class="skill-card">
                <div class="skill-card-head">
                    <div class="skill-card__title">
                        Документооборот
                    </div>
                    <div>
                        <span class="skill-card-dateinfo">Тест до: </span>
                        <span class="skill-card-date">07.11.2023</span>
                    </div>
                </div>
                <div class="skill-card-footer">
                    <img src="../../../../assets/learn-notsuitable.svg" alt="">
                </div>
            </div>
            <div class="skill-card">
                <div class="skill-card-head">
                    <div class="skill-card__title">
                        Документооборот
                    </div>
                    <div>
                        <span class="skill-card-dateinfo">Тест до: </span>
                        <span class="skill-card-date">07.11.2023</span>
                    </div>
                </div>
                <div class="skill-card-footer">
                    <img src="../../../../assets/learn-notsuitable.svg" alt="">
                </div>
            </div>

            <img src="../../../../assets/constructor-add-module.svg" alt="">
        </div>
        <div class="title">
            <b style="color: black;">Программа занимает: </b> 45 часов
        </div>
        <div class="hr-constructor__btns">
            <div class="hr-constructor__btn-active">
                Сохранить
            </div>
            <div class="hr-constructor__btn">
                Отправить
            </div>
        </div>
    </div>

</div>
