<div class="employee-corporate-culture">
  <div class="employee-corporate-culture-tasks">
<!-- component -->
<div class="w-10/12 md:w-7/12 lg:6/12 mx-auto relative ">

<div class="border-l-2 mt-10">

  <!-- Card 3 -->
  <div class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-green-600 text-white rounded mb-10 flex-col md:flex-row space-y-4 md:space-y-0">
    <!-- Dot Follwing the Left Vertical Line -->
    <div class="w-5 h-5 bg-green-600 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 mt-2 md:mt-0"></div>

    <!-- Line that connecting the box with the vertical line -->
    <div class="w-10 h-1 bg-green-300 absolute -left-10 z-0"></div>

    <!-- Content that showing in the box -->
    <div class="flex-auto">
      <h1 class="text-lg">Инновации</h1>
      <h1 class="text-xl font-bold">Инновации  - не синоним технологичности</h1>
    </div>
    <a href="#" class="text-center text-white hover:text-gray-300">Подробнее</a>
  </div>

  <!-- Card 1 -->
    <div class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-blue-600 text-white rounded mb-10 flex-col md:flex-row space-y-4 md:space-y-0">
      <!-- Dot Follwing the Left Vertical Line -->
      <div class="w-5 h-5 bg-blue-600 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 mt-2 md:mt-0"></div>

      <!-- Line that connecting the box with the vertical line -->
      <div class="w-10 h-1 bg-blue-300 absolute -left-10 z-0"></div>

      <!-- Content that showing in the box -->
      <div class="flex-auto">
        <h1 class="text-lg">Польза</h1>
        <h1 class="text-xl font-bold">Мы стремимся приносить пользу. Нашим клиентам, пользователям наших сервисов, самим себе. </h1>

      </div>
      <a href="#" class="text-center text-white hover:text-gray-300">Подробнее</a>
    </div>

    <!-- Card 2 -->
    <div class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-pink-600 text-white rounded mb-10 flex-col md:flex-row space-y-4 md:space-y-0">
      <!-- Dot Follwing the Left Vertical Line -->
      <div class="w-5 h-5 bg-pink-600 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 mt-2 md:mt-0"></div>

      <!-- Line that connecting the box with the vertical line -->
      <div class="w-10 h-1 bg-pink-300 absolute -left-10 z-0"></div>

      <!-- Content that showing in the box -->
      <div class="flex-auto">
        <h1 class="text-lg">Больше дела, меньше бумажек </h1>
        <h1 class="text-xl font-bold">Плоская структура и минимальное количество бюрократии.</h1>
      </div>
      <a href="#" class="text-center text-white hover:text-gray-300">Подробнее</a>
    </div>



    <!-- Card 4 -->
    <div class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-purple-600 text-white rounded mb-10 flex-col md:flex-row space-y-4 md:space-y-0">
      <!-- Dot Follwing the Left Vertical Line -->
      <div class="w-5 h-5 bg-purple-600 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 mt-2 md:mt-0"></div>

      <!-- Line that connecting the box with the vertical line -->
      <div class="w-10 h-1 bg-purple-300 absolute -left-10 z-0"></div>

      <!-- Content that showing in the box -->
      <div class="flex-auto">
        <h1 class="text-lg">Стратегия - не пустой звук </h1>
        <h1 class="text-xl font-bold">У нас есть своя стратегия развития и с каждым решением задачи, мы ее реализуем</h1>
      </div>
      <a href="#" class="text-center text-white hover:text-gray-300">Подробнее</a>
    </div>

    <!-- Card 5 -->
    <div class="transform transition cursor-pointer hover:-translate-y-2 ml-10 relative flex items-center px-6 py-4 bg-yellow-600 text-white rounded mb-10 flex-col md:flex-row">
      <!-- Dot Follwing the Left Vertical Line -->
      <div class="w-5 h-5 bg-yellow-600 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 -mt-2 md:mt-0"></div>

      <!-- Line that connecting the box with the vertical line -->
      <div class="w-10 h-1 bg-yellow-300 absolute -left-10 z-0"></div>

      <!-- Content that showing in the box -->
      <div class="flex-auto">
        <h1 class="text-lg">Взаимодействие</h1>
        <h1 class="text-xl font-bold">Мы ценим нашу команду и одна из нашей целей - раскрыть потенциал сотрудника.</h1>
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="employee-corporate-culture-descr">
      <div class="employee-corporate-culture-title">
          <img src="../../../../assets/atom.svg" alt="">
          <div>Разработка инновационных продуктов для людей </div>
      </div>
      <div>
        Инновации для нас - не синоним технологичности. Мы не цепляемся за каждое новое веяние на рынке.
        Инновации - это про решение значимых задач новым способом. Инновации - это то, что никак не может быть тривиальным. Инновации - это уникальность.
        Мы не масштабируем и не внедряем существующие типовые приложения и системы. Инновации создаются там, где нет стандартов и общепринятых практик, или они критически устарели. Мы с головой погружаемся в задачу, переосмысливаем существующие и возможные решения, и только после этого выбираем наш подход.
        Мы протаптываем новые пути, придумываем и тестируем новые модели и методологии. И создаем цифровые сервисы, подходящие для решения конкретных задач.
      </div>
  </div>
</div>