<div class="courses">
    <div class="navbar">
        <div [routerLink]="['/private/employee-learning-adaptation']" class="navbar-line">
            Адаптация
        </div>
        <div class="navbar-line">
            <b style="color: rgba(48, 140, 255, 1);">Курсы</b> 
        </div>
        <div class="navbar-line">
            Опросы
        </div>
        <div style="border-bottom:none" class="navbar-line">
            Встречи
        </div>
    </div>
    <div class="courses-list">
        <div class="title">
            Фильтры:
        </div>
        <div class="courses-filters">
            <div class="filters">
                <div class="filters__fields-name">
                    Название:
                </div>
                <div class="filters__field">
                    UX/UI
                </div>
            </div>
            <div class="filters">
                <div class="filters__fields-name">
                    Название:
                </div>
                <div class="filters__field">
                    UX/UI
                </div>
            </div>
        </div>
        <div class="title">
            Недостающие навыки:
        </div>
        <div class="skills">
            <div class="skill-card">
                <div class="skill-card-head">
                    <div class="skill-card__title">
                        Документооборот
                    </div>
                    <img src="../../../../assets/learn-link.svg" alt="">
                </div>
                <div class="skill-card__text">
                    Требуется оформить через сайт...
                    Требуется оформить через сайт...Требуется оформить через сайт...
                    Требуется оформить через сайт...Требуется оформить через сайт...
                </div>
                <div class="skill-card-footer">
                    <div>
                        <span class="skill-card-dateinfo">Тест до: </span>
                        <span class="skill-card-date">07.11.2023</span>
                    </div>
                    <img src="../../../../assets/learn-finished.svg" alt="">
                </div>
            </div>
            <div class="skill-card">
                <div class="skill-card-head">
                    <div class="skill-card__title">
                        Документооборот
                    </div>
                    <img src="../../../../assets/learn-link.svg" alt="">
                </div>
                <div class="skill-card__text">
                    Требуется оформить через сайт...
                    Требуется оформить через сайт...Требуется оформить через сайт...
                    Требуется оформить через сайт...Требуется оформить через сайт...
                </div>
                <div class="skill-card-footer">
                    <div>
                        <span class="skill-card-dateinfo">Тест до: </span>
                        <span class="skill-card-date">07.11.2023</span>
                    </div>
                    <img src="../../../../assets/learn-in-process.svg" alt="">
                </div>
            </div>
            <div class="skill-card">
                <div class="skill-card-head">
                    <div class="skill-card__title">
                        Документооборот
                    </div>
                    <img src="../../../../assets/learn-link.svg" alt="">
                </div>
                <div class="skill-card__text">
                    Требуется оформить через сайт...
                    Требуется оформить через сайт...Требуется оформить через сайт...
                    Требуется оформить через сайт...Требуется оформить через сайт...
                </div>
                <div class="skill-card-footer">
                    <div>
                        <span class="skill-card-dateinfo">Тест до: </span>
                        <span class="skill-card-date">07.11.2023</span>
                    </div>
                    <img src="../../../../assets/learn-notsuitable.svg" alt="">
                </div>
            </div>
            <div class="skill-card">
                <div class="skill-card-head">
                    <div class="skill-card__title">
                        Документооборот
                    </div>
                    <img src="../../../../assets/learn-link.svg" alt="">
                </div>
                <div class="skill-card__text">
                    Требуется оформить через сайт...
                    Требуется оформить через сайт...Требуется оформить через сайт...
                    Требуется оформить через сайт...Требуется оформить через сайт...
                </div>
                <div class="skill-card-footer">
                    <div>
                        <span class="skill-card-dateinfo">Тест до: </span>
                        <span class="skill-card-date">07.11.2023</span>
                    </div>
                    <img src="../../../../assets/learn-finished.svg" alt="">
                </div>
            </div>
            <div class="skill-card">
                <div class="skill-card-head">
                    <div class="skill-card__title">
                        Документооборот
                    </div>
                    <img src="../../../../assets/learn-link.svg" alt="">
                </div>
                <div class="skill-card__text">
                    Требуется оформить через сайт...
                    Требуется оформить через сайт...Требуется оформить через сайт...
                    Требуется оформить через сайт...Требуется оформить через сайт...
                </div>
                <div class="skill-card-footer">
                    <div>
                        <span class="skill-card-dateinfo">Тест до: </span>
                        <span class="skill-card-date">07.11.2023</span>
                    </div>
                    <img src="../../../../assets/learn-in-process.svg" alt="">
                </div>
            </div>
            <div class="skill-card">
                <div class="skill-card-head">
                    <div class="skill-card__title">
                        Документооборот
                    </div>
                    <img src="../../../../assets/learn-link.svg" alt="">
                </div>
                <div class="skill-card__text">
                    Требуется оформить через сайт...
                    Требуется оформить через сайт...Требуется оформить через сайт...
                    Требуется оформить через сайт...Требуется оформить через сайт...
                </div>
                <div class="skill-card-footer">
                    <div>
                        <span class="skill-card-dateinfo">Тест до: </span>
                        <span class="skill-card-date">07.11.2023</span>
                    </div>
                    <img src="../../../../assets/learn-notsuitable.svg" alt="">
                </div>
            </div>


        </div>
        <div class="title">
            Дополнительные навыки:
        </div>
        <div class="additional-skills">
            <div class="additional-skill-card">
                <div class="additional-skill-card-head">
                    <div class="additional-skill-card__title">
                        Документооборот
                    </div>
                    <img src="../../../../assets/learn-link-white.svg" alt="">
                </div>
                <div class="additional-skill-card__text">
                    Требуется оформить через сайт...
                    Требуется оформить через сайт...Требуется оформить через сайт...
                    Требуется оформить через сайт...Требуется оформить через сайт...
                </div>
                <div class="additional-skill-card-footer">
                    <div>
                        <span class="additional-skill-card-dateinfo">Тест до: </span>
                        <span class="additional-skill-card-date">07.11.2023</span>
                    </div>
                    <img src="../../../../assets/learn-finished.svg" alt="">
                </div>
            </div>
            <div class="additional-skill-card">
                <div class="additional-skill-card-head">
                    <div class="additional-skill-card__title">
                        Документооборот
                    </div>
                    <img src="../../../../assets/learn-link-white.svg" alt="">
                </div>
                <div class="additional-skill-card__text">
                    Требуется оформить через сайт...
                    Требуется оформить через сайт...Требуется оформить через сайт...
                    Требуется оформить через сайт...Требуется оформить через сайт...
                </div>
                <div class="additional-skill-card-footer">
                    <div>
                        <span class="additional-skill-card-dateinfo">Тест до: </span>
                        <span class="additional-skill-card-date">07.11.2023</span>
                    </div>
                    <img src="../../../../assets/learn-in-process.svg" alt="">
                </div>
            </div>
            <div class="additional-skill-card">
                <div class="additional-skill-card-head">
                    <div class="additional-skill-card__title">
                        Документооборот
                    </div>
                    <img src="../../../../assets/learn-link-white.svg" alt="">
                </div>
                <div class="additional-skill-card__text">
                    Требуется оформить через сайт...
                    Требуется оформить через сайт...Требуется оформить через сайт...
                    Требуется оформить через сайт...Требуется оформить через сайт...
                </div>
                <div class="additional-skill-card-footer">
                    <div>
                        <span class="additional-skill-card-dateinfo">Тест до: </span>
                        <span class="additional-skill-card-date">07.11.2023</span>
                    </div>
                    <img src="../../../../assets/learn-notsuitable.svg" alt="">
                </div>
            </div>
        </div>
    </div>

</div>