<div class="employee-structure">
    <div class="navbar">
        <div class="navbar-line">
            <b style="color: rgba(48, 140, 255, 1);">Организационная структура</b>
        </div>
        <div class="navbar-line">
            Объединения и организации
        </div>
        <div class="navbar-line">
            Справочная информация
        </div>

    </div>
    <div class="organization-structure">
            <!-- component -->
            <div class="flex flex-col justify-center items-center">
                <div class="container mx-auto text-center">
                    <div class="items-center justify-center flex">
                        <div class="text-center">
                            <div class="flex flex-col justify-center items-center">
                                <div class="w-16">
                                    <img class="block rounded-full m-auto shadow-md" alt="Duc Sun"
                                        src="https://randomuser.me/api/portraits/men/12.jpg" />
                                </div>
                                <div class="text-gray-600">
                                    <p>Борис Борисов</p>
                                    <p>ceo</p>
                                </div>
                            </div>
                            <ul class="flex flex-row mt-10 justify-center">
                                <div class="-mt-10 border-l-2 absolute h-10 border-gray-400"></div>
                                <li class="relative p-6">
                                    <div class="border-t-2 absolute h-8 border-gray-400 top-0"
                                        style="left: 50%; right: 0px;"></div>
                                    <div class="relative flex justify-center">
                                        <div class="-mt-6 border-l-2 absolute h-6 border-gray-400 top-0"></div>
                                        <div class="text-center">
                                            <div class="flex flex-col justify-center items-center">
                                                <div class="w-16">
                                                    <img class="block rounded-full m-auto shadow-md" alt="Leo Six"
                                                        src="../../../../assets/анна.jpg" />
                                                </div>
                                                <div class="text-gray-600">
                                                    <p>Анна Иванова</p>
                                                    <p>Management</p>
                                                </div>
                                            </div>
                                            <ul class="flex flex-row mt-10 justify-center">
                                                <div class="-mt-10 border-l-2 absolute h-10 border-gray-400"></div>
                                                <li class="relative p-6">
                                                    <div class="border-t-2 absolute h-8 border-gray-400 top-0"
                                                        style="left: 50%; right: 0px;"></div>
                                                    <div class="relative flex justify-center">
                                                        <div class="-mt-6 border-l-2 absolute h-6 border-gray-400 top-0">
                                                        </div>
                                                        <div class="text-center">
                                                            <div class="flex flex-col justify-center items-center">
                                                                <div class="w-16">
                                                                    <img class="block rounded-full m-auto shadow-md"
                                                                        alt="Tab Han"
                                                                        src="https://randomuser.me/api/portraits/men/46.jpg" />
                                                                </div>
                                                                <div class="text-gray-600">
                                                                    <p>Дмитрий Дмитриев</p>
                                                                    <p>Project Manager</p>
                                                                </div>
                                                            </div>
                                                            <ul class="flex flex-row mt-10 justify-center">
                                                                <div
                                                                    class="-mt-10 border-l-2 absolute h-10 border-gray-400">
                                                                </div>
                                                                <li class="relative p-6">
                                                                    <div class="border-t-2 absolute h-8 border-gray-400 top-0"
                                                                        style="left: 50%; right: 0px;"></div>
                                                                    <div class="relative flex justify-center">
                                                                        <div
                                                                            class="-mt-6 border-l-2 absolute h-6 border-gray-400 top-0">
                                                                        </div>
                                                                        <div class="text-center">
                                                                            <div
                                                                                class="flex flex-col justify-center items-center">
                                                                                <div class="w-16">
                                                                                    <img class="block rounded-full m-auto shadow-md"
                                                                                        alt="Daniel Zhou"
                                                                                        src="../../../../assets/парень1.jpg" />
                                                                                </div>
                                                                                <div class="text-gray-600">
                                                                                    <p>Виталий Витальев</p>
                                                                                    <p>Team Lead</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="relative p-6">
                                                                    <div class="border-t-2 absolute h-8 border-gray-400 top-0"
                                                                        style="left: 0px; right: 0px;"></div>
                                                                    <div class="relative flex justify-center">
                                                                        <div
                                                                            class="-mt-6 border-l-2 absolute h-6 border-gray-400 top-0">
                                                                        </div>
                                                                        <div class="text-center">
                                                                            <div
                                                                                class="flex flex-col justify-center items-center">
                                                                                <div class="w-16">
                                                                                    <img class="block rounded-full m-auto shadow-md"
                                                                                        alt="Derek Hu"
                                                                                        src="../../../../assets/парень2.jpg" />
                                                                                </div>
                                                                                <div class="text-gray-600">
                                                                                    <p>Василий Васильев</p>
                                                                                    <p>Team Lead</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="relative p-6">
                                                                    <div class="border-t-2 absolute h-8 border-gray-400 top-0"
                                                                        style="left: 0px; right: 50%;"></div>
                                                                    <div class="relative flex justify-center">
                                                                        <div
                                                                            class="-mt-6 border-l-2 absolute h-6 border-gray-400 top-0">
                                                                        </div>
                                                                        <div class="text-center">
                                                                            <div
                                                                                class="flex flex-col justify-center items-center">
                                                                                <div class="w-16">
                                                                                    <img class="block rounded-full m-auto shadow-md"
                                                                                        alt="Lennis Chan"
                                                                                        src="../../../../assets/парень3.jpg" />
                                                                                </div>
                                                                                <div class="text-gray-600">
                                                                                    <p>Петр Сидоров</p>
                                                                                    <p>Team Lead</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="relative p-6">
                                                    <div class="border-t-2 absolute h-8 border-gray-400 top-0"
                                                        style="left: 0px; right: 50%;"></div>
                                                    <div class="relative flex justify-center">
                                                        <div class="-mt-6 border-l-2 absolute h-6 border-gray-400 top-0">
                                                        </div>
                                                        <div class="text-center">
                                                            <div class="flex flex-col justify-center items-center">
                                                                <div class="w-16">
                                                                    <img class="block rounded-full m-auto shadow-md"
                                                                        alt="Peter Miao"
                                                                        src="../../../../assets/елена.jpg" />
                                                                </div>
                                                                <div class="text-gray-600">
                                                                    <p>Елена Еленовна</p>
                                                                    <p>Инфорграфика</p>
                                                                </div>
                                                            </div>
                                                            <ul class="flex flex-row mt-10 justify-center">
                                                                <div
                                                                    class="-mt-10 border-l-2 absolute h-10 border-gray-400">
                                                                </div>
                                                                <li class="relative p-6">
                                                                    <div class="border-t-2 absolute h-8 border-gray-400 top-0"
                                                                        style="left: 50%; right: 50%;"></div>
                                                                    <div class="relative flex justify-center">
                                                                        <div
                                                                            class="-mt-6 border-l-2 absolute h-6 border-gray-400 top-0">
                                                                        </div>
                                                                        <div class="text-center">
                                                                            <div
                                                                                class="flex flex-col justify-center items-center">
                                                                                <div class="w-16">
                                                                                    <img class="block rounded-full m-auto shadow-md"
                                                                                        alt="Peter Ming"
                                                                                        src="../../../../assets/парень4.jpg" />
                                                                                </div>
                                                                                <div class="text-gray-600">
                                                                                    <p>Иван Иванов</p>
                                                                                    <p>Team Lead, UX/UI</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="relative p-6">
                                    <div class="border-t-2 absolute h-8 border-gray-400 top-0"
                                        style="left: 0px; right: 0px;"></div>
                                    <div class="relative flex justify-center">
                                        <div class="-mt-6 border-l-2 absolute h-6 border-gray-400 top-0"></div>
                                        <div class="text-center">
                                            <div class="flex flex-col justify-center items-center">
                                                <div class="w-16">
                                                    <img class="block rounded-full m-auto shadow-md" alt="Shi Ten"
                                                        src="../../../../assets/александра.jpg" />
                                                </div>
                                                <div class="text-gray-600">
                                                    <p>Александра Волкова</p>
                                                    <p>HR</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="relative p-6">
                                    <div class="border-t-2 absolute h-8 border-gray-400 top-0"
                                        style="left: 0px; right: 50%;"></div>
                                    <div class="relative flex justify-center">
                                        <div class="-mt-6 border-l-2 absolute h-6 border-gray-400 top-0"></div>
                                        <div class="text-center">
                                            <div class="flex flex-col justify-center items-center">
                                                <div class="w-16">
                                                    <img class="block rounded-full m-auto shadow-md" alt="Shawn Mong"
                                                        src="https://randomuser.me/api/portraits/men/97.jpg" />
                                                </div>
                                                <div class="text-gray-600">
                                                    <p>Андрей Андреев</p>
                                                    <p>admin</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
    </div>
</div>
