<div class="profile">
    <div class="profile-items">

        <div class="profile-item__main">
            <div class="main-info__item">
                <img class="main-info__item-img" src="../../../../assets/Rectangle 1138.svg" alt="">
            </div>
            <div class="main-info__item">
                <div class="main-info__fields">
                    <div class="main-info__field">
                        Иванов
                    </div>
                    <div class="main-info__field">
                        Иван
                    </div>
                    <div class="main-info__field">
                        Иванович
                    </div>
                    <div class="main-info__field">
                        11.02.1998
                    </div>
                </div>
            </div>
            <div class="main-info__item">
                <div class="main-info__kpi">
                    KPI
                    <div class="main-info__kpi-count">
                        1500
                    </div>
                    за месяц
                </div>
            </div>
        </div>
        <div class="profile-item__about">
            <div class="profile-item__about-work">
                <div class="about-work__title">
                    Данные о работе:
                </div>
                <div class="about-work__fields">
                    <div class="about-work__fields-name">
                        Отдел:
                    </div>
                    <div class="about-work__field">
                        UX/UI
                    </div>
                </div>
                <div class="about-work__fields">
                    <div class="about-work__fields-name">
                        Номер отдела:
                    </div>
                    <div class="about-work__field">
                        89202989129
                    </div>
                </div>
                <div class="about-work__fields">
                    <div class="about-work__fields-name">
                        Должность:
                    </div>
                    <div class="about-work__field">
                        UX/UI Designer
                    </div>
                </div>
            </div>
            <div class="profile-item__about-you">
                <div class="about-work-head">
                    <div class="about-work__title">
                        Данные о себе:
                    </div>
                    <img src="../../../../assets/tabler_edit.svg" alt="">
                </div>
                <textarea name="" id="" placeholder="Расскажите о себе"></textarea>
            </div>
        </div>
        <div class="profile-item__additional">
            <div class="profile-item__docs">
                <div class="about-work__title">
                    Документы:
                </div>
                <div class="docs-fields">
                    <div class="docs-field">
                        Должностная инструкция
                    </div>
                    <div class="docs-field">
                        Соглашения
                    </div>
                    <div class="docs-field">
                        Должностные обязанности
                    </div>
                    <div class="docs-field">
                        Трудовой договор
                    </div>
                    <div class="docs-field">
                        ДМС
                    </div>
                    <div class="docs-field">
                        Резюме
                    </div>
                </div>
            </div>
            <div class="profile-item__about-you">
                <div class="about-work-head">
                    <div class="about-work__title">
                        Навыки:
                    </div>
                    <img src="../../../../assets/tabler_edit.svg" alt="">
                </div>
                <div class="profile-item__skills">
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                    <div class="skill-tag">
                        UX/UI middle
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
